#Server port
APP_PORT=

#Mongodb connection url string pointing to database
DATABASE_CONN_URL=

#Secret string for auth tokens when signing the jwt access and refresh tokens
ACCESS_TOKEN_SECRET=

REFRESH_TOKEN_SECRET=